<div class="page-header">
  <h1>
  <dd><%= Company.find_by(:id =>@company.id).name %><dd/>
  </h1>
</div>

<h1>
  <a href="/contacts/new" class="btn btn-lg btn-success">New Contact</a>
</h1>
</div>


    <div class="btn-group btn-group-justified">
      <a href="/companies" class="btn btn-primary">
        Back
      </a>
      <a href="/companies/<%= @company.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_company/<%= @company.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>

  </div>
</div>
